<%- include('./includes/head.ejs') %>
</head>
<body>
<%- include('./includes/header.ejs') %>    
<br>    
<div class="row row-cols-1 row-cols-md-4">
  <% Items.forEach(function(foodItem){ %>
    <div class="container" >
      <div class="col mb-2">
        <div class="polaroid">
          <div class="card bg-light">
              <div class="card-body">
                <h5 class="card-title" style="font-family: sans-serif; font-weight: bold;"><%= foodItem.name %></h5>
                <p class="card-text" style="font-family: sans-serif; font-weight: bold;"> <%= foodItem.price %>/-</p>
                <p class="card-text" style="font-family: sans-serif; font-weight: bold;"> <%= foodItem.foodType.toUpperCase() %></p>
                <p class="card-text" style="font-family: sans-serif; font-weight: bold;"> RestaurantId:  <%= foodItem.restaurantId %></p>
                <% if(Role !== 'restaurant') { %>
                <div class="order-button">
                  <a class="btn btn-outline-secondary float-right payment" href="javascript:;" order-id="<%= foodItem.id %>">Order</a>
                </div>
                <% } %>                
              </div>
          </div>
        </div>
      </div>
    </div>
  <% }); %>
</div>
<%- include('./includes/footer.ejs') %>